<footer class="text-center"> Copyright © Auto Trader Limited 2017.</footer><br>
<script> 
<% if(typeof err !== "undefined") {%>
	alert("<%=err%>")
<% } %>
</script>
<script src="/code.js"></script>
</body>
</html>