<html>
    <head>
        <title><%= title %></title>
        
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        
    </head>
    <body>
        
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded fixed-top">
        <div class="container">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cars">Gallery</a>
      </li>
        
    </ul>
      <span >
          <ul class="navbar-nav mr-auto"><li>
              
              <% if(!loggedUser) { %>
        <a class="nav-link" href="/login">Login</a></li>
              <li>
        <a class="nav-link" href="/register">Sign Up</a></li>
              <% } else { %>
              <li>
        <a class="nav-link" href="javascript:void(0)"><%=loggedUser.username %><%if(loggedUser.username === "alexjidras") {%>
            (<span class="text-success">ADMIN</span>)<%}%></a></li>
              <li>
        <a class="nav-link" href="/logout">Logout</a></li>
              
              <% } %>
              </ul>
      </span>
  </div>
              </div>          
</nav>         

<div class="container">
<%if(err) {%>
	<div class="alert alert-danger" role="alert"><%=err%></div> 
<% } %>
